# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
/flow-coverage

# integration testing
/dev-server/api/built-webpack-examples
/scripts/built-integration-fixtures
/scripts/clone-webpack

# production
/bin
/build
/dist
/storybook-static

# docs artifacts
/docs/storybook
/docs/analyze
/docs/example.json

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
