.Table {
  border-collapse: collapse;
}

.Table thead th,
.Table thead td {
  padding: 10px 5px;
  border-bottom: 1px solid #ccc;
}

.Table tr:hover {
  background: #ddd;
}

.Table tr:target {
  background: #fdf5d4;
}

.Table td {
  padding: 4px 2px;
  border-bottom: 1px solid #eee;
}

.Table td.filter {
  text-align: center;
}

.Table td.number {
  text-align: right;
}
